<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/assets/images/favicon.png" type="image/x-icon" />
    <title>AbdSy | HTML/CSS Template</title>
    <link rel="stylesheet" href="./assets/css/all.min.css" />
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>
  <body>
    <!-- Header Start -->
    <header class="header flex">
      <div class="container flex"></div>
    </header>
    <!-- Header End -->

    <!-- Content Start -->
    <main class="content">
      <!-- Section Start -->
      <section class="section">
        <div class="container">
          <!-- Section Head Start -->
          <div class="section-head">
            <h2 class="section-title"></h2>
            <p class="section-description"></p>
          </div>
          <!-- Section Head End -->
          <!-- Section Content Start -->
          <!-- Boxes Start -->
          <div class="boxes">
            <!-- Box Start -->
            <div class="box">
              <i></i>
              <div class="text">
                <h3></h3>
                <p></p>
              </div>
            </div>
            <!-- Box End -->
          </div>
          <!-- Boxes End -->
          <!-- Call To Action Button -->
          <button class="cta-btn light">Action</button>
          <button class="cta-btn dark">Action</button>
          <!-- Section Content End -->
        </div>
      </section>
      <!-- Section End -->
    </main>
    <!-- Content End -->

    <!-- Footer Start -->
    <footer class="footer flex">
      <div class="container flex">
        <p>&copy; 2026 | <span>Template Name</span> | All Right Reserved</p>
      </div>
    </footer>
    <!-- Footer End -->
  </body>
</html>
