@font-face {
  font-family: "IBM Plex Sans Arabic";
  src: url(/assets/webfonts/ibm-plex-sans-arabic.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

html {
  font-family: "IBM Plex Sans Arabic";
  font-size: 10px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
